# Dependencias
node_modules/
.pnp
.pnp.js

# Build output
dist/
.output/
.vercel/
.netlify/

# Entorno — NUNCA en git
.env
.env.local
.env.production
.env.*.local

# Astro cache
.astro/

# OS
.DS_Store
Thumbs.db

# Editores
.vscode/
.idea/
*.swp
*.swo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript
*.tsbuildinfo
